<div class="item-box">
  <h2>購入内容の確認</h2>
  <h4>出品者:<%= @item.user.name %></h4>
  <%= image_tag @item.image, {class: "picture"} if @item.image.attached? %>
  <%= @item.name %><br>
  価格:<%= @item.price.to_s(:delimited) %>円<br>

  <%= form_for(@dealing) do |f| %>
    <%= hidden_field_tag :item_id, @item.id %>
    <%= f.submit "購入する", class: "red-button" %>
  <% end %>
</div>
