<h2>購入内容の確認</h2>


<div class="item">
  <%= image_tag @item.picture.url, {class: "picture"} %>
  <%= @item.name %><br>
  価格:<%= @item.price.to_s(:delimited) %>円<br>
</div>

<%= form_for(@item.build_dealing) do |f| %>
  <div><%= hidden_field_tag :item_id, @item.id %></div>
  <%= f.submit "購入する", class: "btn btn-primary" %>
<% end %>
<%= link_to "戻る", (item_path(@item)), class: "btn btn-primary" %>
