<h2>取引詳細</h2>
<h3>現在の取引状況：<%= @dealing.status_i18n %></h3>

<div class="item">
  <%= @item.name %><br>
  <%= image_tag @item.picture.url, {class: "picture"} %><br>
  価格:<%= @item.price.to_s(:delimited) %>円<br>
<!--  出品者ページ-->
  <% if seller? %>
    <% if @dealing.status == 'payed' %>
      <h3>購入者住所：dealing.user.address</h3>
      <h3><%= @item.days_to_ship %>してください</h3>
      <%= link_to "発送完了", update_to_delivering_dealing_path, method: :patch %>
    <% end %>
<!--    購入者ページ-->
  <% elsif buyer? %>
    <% if  @dealing.status == 'delivering' %>
      <%= link_to "商品が到着", update_to_completed_dealing_path, method: :patch %>
    <% end %>
  <% end %>
</div>
