<%= link_to(item_path(item)) do %>
  <section class="card" id="item-<%= item.id %>">
    <div class="card-picture">
      <%= image_tag item.picture.url, {class: "picture"} %>
      <%= render "items/like", item: item %>
      <p>¥<%= item.price.to_s(:delimited) %></p>
      <% if item.sold?(item) %>
        <div class="sold-mark">SOLD</div>
      <% end %>
    </div>
    <div class="card-content">
      <%= item.content %>
    </div>
  </section>
<% end %>
