<table class="item-detail-table" >
  <tbody>
  <tr>
    <td>出品者</td>
    <td><%= link_to @item.user.name, @item.user %></td>
  </tr>
  <tr>
    <td>カテゴリー</td>
    <td><%= @item.category %></td>
  </tr>
  <tr>
    <td>商品の状態</td>
    <td><%= @item.condition %></td>
  </tr>
  <tr>
    <td>配送料の負担</td>
    <td><%= @item.shipping_fee %></td>
  </tr>
  <tr>
    <td>配送元地域</td>
    <td><%= @item.seller_area %></td>
  </tr>
  <tr>
    <td>発送日の目安</td>
    <td><%= @item.days_to_ship %></td>
  </tr>
  </tbody>
</table>
