<div class="like">
  <% if current_user.already_liked?(item) %>
   <%= form_for(item.likes.find_by(item_id: item.id),method: :delete, remote: true ) do |f| %>
      <div><%= hidden_field_tag :item_id, item.id %></div>
      <%= button_tag(class: "like-btn") do %>
        <span class="glyphicon glyphicon-heart"></span>
     <% end %>
   <% end %>
  <% else %>
   <%= form_for(item.likes.build) do %>
     <div><%= hidden_field_tag :item_id, item.id %></div>
     <%= button_tag(class: "unlike-btn") do %>
        <span class="glyphicon glyphicon-heart-empty"></span>
     <% end %>
   <% end %>
  <% end %>
</div>
