<div class="item-box">
  <h2><%= @item.name %></h2>
  <div class="main-content">
      <%= image_tag @item.img @item.image.attached?, {class: "picture"} %>
      <%= render "items/item_table", item: @item %>
  </div>
  <br>
  <div class="price-box">
    <span class="item-price">¥<%= @item.price.to_s(:delimited) %></span>
    <% if @item.shipping_fee == '出品者負担' %>
      <span class="shipping-fee">送料込み</span>
    <% else %>
      <span class="shipping-fee">着払い</span>
    <% end %>
  </div>
  <div>
    <% if @item.sold? %>
      <% if @dealing.seller == current_user || @dealing.buyer == current_user %>
        <%= link_to "取引ページ", dealing_path(@item.dealing), class: "gray-button" %>
      <% else %>
        <div class="gray-button">売り切れました</div>
      <% end %>
    <% else %>
      <% if @item.user != current_user %>
        <%= link_to "購入画面に進む", new_dealing_path(:item_id => @item.id), class: "red-button" %>
      <% end %>
    <% end %>
  </div>
  <h3><%= @item.content %></h3>
  <p><%= render "items/like", item: @item %></p>
</div>

<div class="comment-box">
  <div class="comment-feed">
    <h4>Comments</h4>
    <% @item.comments.each do |comment| %>
      <h4>
        <%= comment.content %>
      </h4>
    <% end %>
  </div>

  <div class="comment-form">
    <%= form_for(@comment) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.text_area :content, placeholder: "相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。" %>
      </div>
      <div class="field-hide">
        <%= f.hidden_field :item_id, value: @item.id %>
      </div>
      <%= f.submit "コメントする", class: "gray-button" %>
    <% end %>
  </div>
</div>

<span class="timestamp">
    <%= render "items/delete", item: @item %>
</span>
