<h2>Item#show</h2>

<span class="user">
  <%= link_to @item.user.name, @item.user %>
  <%= link_to gravatar_for(@item.user, size: 50), item_path(@item) %>
</span>

<div class="item">
  <%= image_tag @item.picture.url, {class: "picture"} %>
  <%= @item.name %><br>
  <%= @item.content %><br>
  発送元の地域:<%= @item.delivery_area %><br>
  価格:<%= @item.price.to_s(:delimited) %>円<br>
  カテゴリー:<%= @item.category %><br>
  発送までの日数:<%= @item.days_to_ship %><br>
  商品の状態:<%= @item.condition %><br>
  送料:<%= @item.shipping_fee %><br>

  <%= render "items/like", item: @item %>
</div>
<% if @item.sold?(@item) %>
  <div class="btn btn-primary">売り切れました</div>
  <%= link_to "取引ページ", dealing_path(@item.dealing), class: "btn btn-primary" %>
<% else %>
  <%= link_to "購入画面に進む", new_dealing_path(:item_id => @item.id), class: "btn btn-primary" %>
<% end %>
<div class="comment-feed">
  <h4>Comments</h4>
  <% @item.comments.each do |comment| %>
    <li>
      <%= comment.content %>
    </li>
  <% end %>
</div>

<div class="comment-form">
  <h4>Comments</h4>
  <%= form_for(@comment) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Comment" %>
    </div>
    <div class="field-hide">
      <%= f.hidden_field :item_id, value: @item.id %>
    </div>
    <%= f.submit "Comment", class: "btn btn-primary" %>
  <% end %>
</div>

<span class="timestamp">
    <%= render "items/delete", item: @item %>
</span>
