<h2>Item#show</h2>

<span class="user">
  <%= link_to @item.user.name, @item.user %>
  <%= link_to gravatar_for(@item.user, size: 50), item_path(@item) %>
</span>
<%= image_tag @item.picture.url, {class: "picture"} %>
<div class="item">
  <%= @item.content %>
  <br>
  <%= @item.delivery_area %>
  <br>
  <%= render "items/like", item: @item %>
</div>

<div class="comment-feed">
  <h4>Comments</h4>
  <% @item.comments.each do |comment| %>
    <li>
      <%= comment.content %>
    </li>
  <% end %>
</div>

<div class="comment-form">
  <h4>Comments</h4>
  <%= form_for(@comment) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Comment" %>
    </div>
    <div class="field-hide">
      <%= f.hidden_field :item_id, value: @item.id %>
    </div>
    <%= f.submit "Comment", class: "btn btn-primary" %>
  <% end %>
</div>

<span class="timestamp">
    <%= render "items/delete", item: @item %>
</span>
