<%= link_to(micropost_path(micropost)) do %>
  <section class="card" id="micropost-<%= micropost.id %>">
    <div class="sample">
      <%= image_tag micropost.picture.url, {class: "picture"} if micropost.picture? %>
      <%= render "microposts/like", micropost: micropost %>
    </div>
    <div class="card-content">
      <%= micropost.content %>
    </div>
  </section>
<% end %>
