<h2>Micropost#show</h2>

<span class="user">
  <%= link_to @micropost.user.name, @micropost.user %>
  <%= link_to gravatar_for(@micropost.user, size: 50), micropost_path(@micropost) %>
</span>

<div class="micropost">
  <%= @micropost.content %>
  <%= render "microposts/like", micropost: @micropost %>
</div>

<div class="comment-feed">
  <h4>Comments</h4>
  <% @micropost.comments.each do |comment| %>
    <li>
      <%= comment.content %>
    </li>
  <% end %>
</div>

<div class="comment-form">
  <h4>Comments</h4>
  <%= form_for(@comment) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Comment" %>
    </div>
    <div class="field-hide">
      <%= f.hidden_field :micropost_id, value: @micropost.id %>
    </div>
    <%= f.submit "Comment", class: "btn btn-primary" %>
  <% end %>
</div>

<span class="timestamp">
    <%= render "microposts/delete", micropost: @micropost %>
</span>
